/* ***************** */
/* .login-background {
    background:  #e10019;
    position: absolute;
    min-height: 100%;
} */

.login-body {
    width: auto;
    height: 100vh;
}

.logoMobile{
    display: none;
}

@media (max-width: 770px) {
    
    .logoMobile{
        display: block;
        width: 100%;
        text-align: center;
        color: red;
    }

}